@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Quill Alignment Fixes */
.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

.ql-align-justify {
  text-align: justify;
}

/* Ensure images and videos inside paragraphs respect alignment */
.ql-align-center img,
.ql-align-center iframe {
  display: inline-block;
  margin: 0 auto;
}

.ql-align-right img,
.ql-align-right iframe {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

.ql-align-left img,
.ql-align-left iframe {
  display: inline-block;
  margin-right: auto;
  margin-left: 0;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}